<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.css">
</head>
<body>
  <div class="header container">
    <div class="page-header">
      <h1><a href="/">Example page header</a> <small>Subtext for header</small></h1>
    </div>
  </div>
  <div class="comments container">
    <!-- 以前表单数据是如何提交的
          1.表单中需要提交的表单空间必须有name属性
          2.表单提交分为默认提交(什么都不用写)和异步提交（需要写代码处理）
     -->
    <form action="/comment" method="get"> <!-- action就是表单提交的地址，说白了就是请求的url地址；method是请求方法，分为get和post方法-->
      <div class="form-group">
        <label for="input_name">你的大名</label>
        <input type="text" class="form-control" id="input_name" required minlength="2" maxlength="10" name="name" placeholder="请输入你的姓名">
      </div>
      <div class="form-group">
        <label for="textarea_message">留言内容</label>
        <textarea class="form-control" name="msg" id="textarea_message" cols="30" rows="10" required minlength="5" maxlength="20"></textarea>
      </div>
      <button type="submit" class="btn btn-success">发表</button>
    </form>
  </div>
</body>
</html>
